<!DOCTYPE html>

<!-- prettier-ignore -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ page.title }}</title>

    <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css" rel="stylesheet" />

    {% feed_meta %}
    {% seo %}
  </head>

  <body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/js/all.min.js"></script>
    <script src="/assets/js/rvtr.bundle.js"></script>
  </body>
</html>
