---
layout: page
---

<!-- prettier-ignore -->
<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br />
      <h1 class="title is-2">docs</h1>

      <div class="tile is-ancestor">
        <div class="tile is-2 is-parent">
          <div class="tile box has-background-dark is-child">
            {% include aside_outer.html %}
          </div>
        </div>

        <div class="tile is-10 is-parent">
          <div class="tile box">
            <div class="tile is-child">
              <div class="content">
                {{ content }}
              </div>
            </div>

            <div class="tile box has-background-dark is-2 is-child">
              {% include aside_inner.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <br />
  </div>
</section>
