---
title: RVTR &Colon; blog
---

<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br />
      <h1 class="title is-2">blog</h1>

      <div class="tile is-ancestor">
        {% for post in site.posts %} {% if forloop.index == 1 %}
        <div class="tile is-parent">
          <div class="tile box has-background-dark">
            <article class="tile is-child"></article>
            <article class="tile box is-8 is-child">
              <div class="content">
                <h2 class="title is-4">
                  <a class="has-text-link" href="{{ post.url }}">
                    {{ post.title | downcase }}
                  </a>
                </h2>

                <p class="subtitle is-6">
                  {{ post.date | date: '%Y-%m-%d' }} &Colon; {{ post.author }}
                </p>

                <section class="is-size-5">
                  {{ post.excerpt }}
                </section>
              </div>
            </article>
            <article class="tile is-child"></article>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>

      <div class="tile is-ancestor">
        {% for post in site.posts %} {% if forloop.index == 2 or forloop.index
        == 3 %}
        <div class="tile is-parent">
          <article class="tile box is-child">
            <div class="content">
              <h2 class="title is-4">
                <a class="has-text-link" href="{{ post.url }}">
                  {{ post.title | downcase }}
                </a>
              </h2>

              <p class="subtitle is-6">
                {{ post.date | date: '%Y-%m-%d' }} &Colon; {{ post.author }}
              </p>

              <section>
                {{ post.excerpt }}
              </section>
            </div>
          </article>
        </div>
        {% endif %} {% endfor %}
      </div>

      <div class="tile is-ancestor">
        {% for post in site.posts %} {% if forloop.index > 3 and forloop.index <
        7 %}
        <div class="tile is-parent">
          <article class="tile box is-child">
            <div class="content">
              <h2 class="title is-4">
                <a class="has-text-link" href="{{ post.url }}">
                  {{ post.title | downcase }}
                </a>
              </h2>

              <p class="subtitle is-6">
                {{ post.date | date: '%Y-%m-%d' }} &Colon; {{ post.author }}
              </p>

              <section>
                {{ post.excerpt }}
              </section>
            </div>
          </article>
        </div>
        {% endif %} {% endfor %}
      </div>

      <div class="tile is-ancestor">
        {% for post in site.posts %} {% if forloop.index > 6 and forloop.index <
        11 %}
        <div class="tile is-parent">
          <article class="tile box is-child">
            <div class="content">
              <h2 class="title is-4">
                <a class="has-text-link" href="{{ post.url }}">
                  {{ post.title | downcase }}
                </a>
              </h2>

              <p class="subtitle is-6">
                {{ post.date | date: '%Y-%m-%d' }} &Colon; {{ post.author }}
              </p>

              <section>
                {{ post.excerpt }}
              </section>
            </div>
          </article>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</section>
