---
title: RVTR &Colon; blog
---

<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br />
      <h1 class="title is-2">blog</h1>

      {% for post in site.posts %}
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile box has-background-dark">
            {% if forloop.index == 1 %}
            <article class="tile is-child"></article>
            <article class="tile box is-8 is-child">
              <div class="content">
                <h2 class="title is-3">
                  <a class="has-text-link" href="{{ post.url }}">
                    {{ post.title | downcase }}
                  </a>
                </h2>

                <p class="subtitle is-5">
                  {{ post.date | date: '%Y-%m-%d' }} &Colon; {{ post.author }}
                </p>

                <section class="is-size-4">
                  {{ post.excerpt }}
                </section>
              </div>
            </article>
            <article class="tile is-child"></article>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          {% if forloop.index > 1 and forloop.index < 4 %}
          <article class="tile box is-child">
            <div class="content">
              <h2 class="title is-4">
                <a class="has-text-link" href="{{ post.url }}">
                  {{ post.title | downcase }}
                </a>
              </h2>

              <p class="subtitle is-6">
                {{ post.date | date: '%Y-%m-%d' }} &Colon; {{ post.author }}
              </p>

              <section>
                {{ post.excerpt }}
              </section>
            </div>
          </article>
          {% endif %}
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          {% if forloop.index > 4 and forloop.index < 8 %}
          <article class="tile box is-child">
            <div class="content">
              <h2 class="title is-4">
                <a class="has-text-link" href="{{ post.url }}">
                  {{ post.title | downcase }}
                </a>
              </h2>

              <p class="subtitle is-6">
                {{ post.date | date: '%Y-%m-%d' }} &Colon; {{ post.author }}
              </p>

              <section>
                {{ post.excerpt }}
              </section>
            </div>
          </article>
          {% endif %}
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile box is-child">
            <div class="content">
              <h2 class="title is-4">
                <a class="has-text-link" href="{{ post.url }}">
                  {{ post.title | downcase }}
                </a>
              </h2>

              <p class="subtitle is-6">
                {{ post.date | date: '%Y-%m-%d' }} &Colon; {{ post.author }}
              </p>

              <section>
                {{ post.excerpt }}
              </section>
            </div>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile box is-child">
            <div class="content">
              <h2 class="title is-4">
                <a class="has-text-link" href="{{ post.url }}">
                  {{ post.title | downcase }}
                </a>
              </h2>

              <p class="subtitle is-6">
                {{ post.date | date: '%Y-%m-%d' }} &Colon; {{ post.author }}
              </p>

              <section>
                {{ post.excerpt }}
              </section>
            </div>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile box is-child">
            <div class="content">
              <h2 class="title is-4">
                <a class="has-text-link" href="{{ post.url }}">
                  {{ post.title | downcase }}
                </a>
              </h2>

              <p class="subtitle is-6">
                {{ post.date | date: '%Y-%m-%d' }} &Colon; {{ post.author }}
              </p>

              <section>
                {{ post.excerpt }}
              </section>
            </div>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile box is-child">
            <div class="content">
              <h2 class="title is-4">
                <a class="has-text-link" href="{{ post.url }}">
                  {{ post.title | downcase }}
                </a>
              </h2>

              <p class="subtitle is-6">
                {{ post.date | date: '%Y-%m-%d' }} &Colon; {{ post.author }}
              </p>

              <section>
                {{ post.excerpt }}
              </section>
            </div>
          </article>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
